*, body, html{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
}

.navBar{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

li{
    float: right;
    list-style-type: none;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.3)
}


.head{
    width: 100%;
    height: 600px;
    text-align: center;
}
.head h1{
    padding-top: 200px;
    padding-bottom: 200px;
}

.head img{
    width: 300px;
    border-radius: 200px;
   
}

.head a{
    text-decoration: none;
    color: black;
}

.head h4{
    padding: 20px;
    width: 150px;
    margin: 10px auto;
    background-color: black;
    color: white;
    border-radius: 15;
}



.about{
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
    color: white;
}

.about h2{
    padding: 20px;
    font-size: 50px;
}

.site{
    width: 30%;
    display: inline-block;
    padding: 10px;
    text-decoration:none;
    color: white;
}

.site img{
    width: 100%;
    border-radius: 15px;
}

.site h4{
    padding: 10px;
}



.better{
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    text-align: center;
}

.better h2{
    padding: 20px;
    font-size: 50px;
}

. p{
    width: 500px;
    margin: 10px auto;
    font-size: 20px;
    line-height: 1.5;
}

.rules{
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
    color: white;
}

.rules p{
    padding: 20px;
    font-size: 50px;
}

.rules p{
    width: 500px;
    margin: 10px auto;
    font-size: 20px;
    line-height: 1.5;
}


html{
    background-image: url("bball(1).png");
    background-size: cover;
    background-attachment: fixed;
    
}
